
.flex-row{
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-area{
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.5)),
  url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80) no-repeat top center fixed;
  background-size: cover;
}

.navbar-area {
  background: rgba(0,0,0,.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 0.1px solid gray;
}
.site-navbar a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
.floating-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  z-index: 1000;
}

/* nav-toggler css start */
.nav-toggler {
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */

/* intro-area css start */
.intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
/* intro-area css end */

@keyframes my-animation {        
  from {
    opacity : 0;
    left : 100%;
  }
  to {
    opacity : 1;
    left : 0;
  }      
}
.section1{
  position: relative;
  animation: my-animation 2s ease;
}
.section1-image{
  position: relative;
  width: 100%;
  height: 100%;
}


.image_reveal{
  position: relative;
  width: 100%;
  height: 100%;
}
.background-image{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://fleava.com/assets/img/home/about.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.section{
  padding: 160px 0 120px;
  position: relative;
}
.section .full_banner.long{
  height: 120vh;
  max-height: 1000px;
}
.section .full_banner{
  position: relative;
  width: 100%;;
  height: 100vh;
  max-height: 900px;
  overflow: hidden;
}
.no-p{
  padding: 0 !important;
}
.banner-overlay{
  position: absolute;
  height: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.1);
}
.q-container{
  width: 100%;
  max-width: 1280px;
  padding: 0 5rem;
  margin: 0 auto;
  position: absolute;
  /* top: 90vh; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.font_caps {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}
.section h2 {
  font-size: 62px;
  line-height: 74px;
  font-weight: 200;
  color: #fff;
}
.reveal__on.is-inview .text_cover {
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-clip: no-clip;
  mask-clip: no-clip;
  -webkit-mask-image: linear-gradient(170deg, black 0%, rgba(255, 255, 255, 0) 0%);
  -webkit-mask-size: cover;
}

.site-navbar.fade-in {
  background-color: white;
  /* -webkit-box-shadow: 0 1px 0px gray;
  -moz-box-shadow: 0 1px 0px gray;
  box-shadow: 0 1px 0px gray; */
  /* -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg); */
}
.site-navbar.fade-in a.site-logo {
  color: black;
}
.site-navbar.fade-in ul li a {
  color: black;
}
.site-navbar.fade-in .nav-toggler span, 
.site-navbar.fade-in .nav-toggler span:before, 
.site-navbar.fade-in .nav-toggler span:after {
  background-color: #000;
}



.footer {
  margin-top: 20px;
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.waves {
  position:relative;
  width: 100%;
  height:10vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:100px;
}

.content {
  position:relative;
  padding-top: 20px;
  height:8vh;
  text-align:center;
  background-color: white;
  color: #333333;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/* mobile breakpoint start */
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .waves {
    height:40px;
    min-height:40px;
  }
  h1 {
    font-size:24px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */